# Xgb Predict

In [1]:
# import library
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.metrics import mean_squared_error
import xgboost as xgb
from warnings import filterwarnings
filterwarnings('ignore')
plt.style.use('fivethirtyeight')

# Quick look data

In [2]:
sales_train = pd.read_csv('data\sales_train.csv', parse_dates=['date'])
items = pd.read_csv('data\items.csv')
item_categories = pd.read_csv('data\item_categories.csv')
shops = pd.read_csv('data\shops.csv')
print(sales_train.head())
print(items.head())
print(item_categories.head())
print(shops.head())

        date  date_block_num  shop_id  item_id  item_price  item_cnt_day
0 2013-02-01               0       59    22154      999.00           1.0
1 2013-03-01               0       25     2552      899.00           1.0
2 2013-05-01               0       25     2552      899.00          -1.0
3 2013-06-01               0       25     2554     1709.05           1.0
4 2013-01-15               0       25     2555     1099.00           1.0
                                           item_name  item_id  \
0          ! ВО ВЛАСТИ НАВАЖДЕНИЯ (ПЛАСТ.)         D        0
1  !ABBYY FineReader 12 Professional Edition Full...        1
2      ***В ЛУЧАХ СЛАВЫ   (UNV)                    D        2
3    ***ГОЛУБАЯ ВОЛНА  (Univ)                      D        3
4        ***КОРОБКА (СТЕКЛО)                       D        4

   item_category_id
0                40
1                76
2                40
3                40
4                40
        item_category_name  item_category_id
0  PC - Гарнитуры/Наушники                 0
1         Аксессуары - PS2                 1
2         Аксессуары - PS3                 2
3         Аксессуары - PS4                 3
4         Аксессуары - PSP                 4
                        shop_name  shop_id
0   !Якутск Орджоникидзе, 56 фран        0
1   !Якутск ТЦ "Центральный" фран        1
2                Адыгея ТЦ "Мега"        2
3  Балашиха ТРК "Октябрь-Киномир"        3
4        Волжский ТЦ "Волга Молл"        4

In [3]:
y_train = sales_train['item_cnt_day'].copy()
sales_train.drop(columns=['item_cnt_day', 'date', 'date_block_num'], inplace=True)

In [4]:
X_train = sales_train.merge(items, on='item_id')

In [5]:
X_train.drop(columns=['item_name'], inplace=True)

In [6]:
X_train.head()

   shop_id  item_id  item_price  item_category_id
0       59    22154       999.0                37
1       24    22154       999.0                37
2       27    22154       999.0                37
3       25    22154       999.0                37
4       25    22154       999.0                37

In [7]:
gbm = xgb.XGBRegressor()
gbm.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
             importance_type='gain', interaction_constraints='',
             learning_rate=0.300000012, max_delta_step=0, max_depth=6,
             min_child_weight=1, missing=nan, monotone_constraints='()',
             n_estimators=100, n_jobs=8, num_parallel_tree=1, random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
             tree_method='exact', validate_parameters=1, verbosity=None)

In [8]:
test = pd.read_csv(r'data\test.csv')
print(test.head())

   ID  shop_id  item_id
0   0        5     5037
1   1        5     5320
2   2        5     5233
3   3        5     5232
4   4        5     5268

In [9]:
X_mean = X_train.groupby(['item_category_id']).mean()['item_price']
print(X_mean.head())

item_category_id
0      87.800000
1     215.500000
2    2261.705152
3    2105.683642
4     554.696081
Name: item_price, dtype: float64

In [10]:
X_test = test.merge(items, on=['item_id'])

In [11]:
X_test = X_test.merge(X_mean, on=['item_category_id'])

In [12]:
X_test.drop(columns=['item_name'], inplace=True)

In [13]:
X_test.sort_values(by=['ID'], inplace=True)
X_test.reset_index(inplace=True,drop=True)

In [14]:
X_test = X_test[['shop_id',	'item_id',	'item_price', 'item_category_id']]
X_test.head()

   shop_id  item_id   item_price  item_category_id
0        5     5037  1512.044319                19
1        5     5320   286.209370                55
2        5     5233  1512.044319                19
3        5     5232  1479.293863                23
4        5     5268  2791.779820                20

In [21]:
predict = gbm.predict(X_test).clip(0,20)
print(predict)

[1.2160623 1.1909871 1.3042015 ... 1.289015  1.2635245 1.1080347]

In [23]:
sample=pd.read_csv('data\sample_submission.csv')

In [24]:
sample['item_cnt_month'] = predict
print(sample.head())

   ID  item_cnt_month
0   0        1.216062
1   1        1.190987
2   2        1.304201
3   3       12.473964
4   4        1.209643

In [25]:
sample.to_csv('data/result.csv', index=False)